.ipynb_checkpoints
__pycache__
/.venv/
files
index
temp/*
/results/
chroma-collections.parquet
chroma-embeddings.parquet
.DS_Store
**/.DS_Store
.env*
notebook
SDK/*
log/*
logs/
parts/*
json_results/*
